main {
    min-height: 80vh;
}




h1 {
    font-size: 1.8rem;
    padding:1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding:0.5rem 0;
}

h3{
    padding:1rem 0;
}

.rating span{
    margin:0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
    border-radius: 25%;
    margin: 40px auto;
}
.carousel a {
  margin: 0 auto;
}

.qty-box {
    padding-right: 0 !important;
}

.cart-button {
    padding-left: 0 !important;
}

.cart-button .btn.animate {
    animation: clicked 0.5s ease-out;
}

.cart-button .btn.animate .fas.fa-shopping-cart {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow-text 0.5s linear infinite;
}

@keyframes clicked {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rainbow-text {
    0% {
        background-image: linear-gradient(270deg, violet, #9f4ddc, #ff00dd, violet);
        background-position: 0% 50%;
    }
    100% {
        background-image: linear-gradient(270deg, violet, #9f4ddc, #ff00dd, violet);
        background-position: 100% 50%;
    }
}

.cart-button .btn.animate .fas.fa-shopping-cart {
    background-size: 200% auto;
}

.card-title {
    min-height: 3rem; /* Adjust this value according to your needs */
    white-space: pre-wrap; /* Make the text wrap in case it's too long */
}


@media (max-width: 900px) {
  .carousel-caption h4 {
    font-size: 2.0vw;
  }
}

@media (max-width: 600px) {
  .carousel-caption h4 {
    font-size: 2vw;
  }
}

